body {
  background-image: url("darkwall.jpg");
  background-color: #000000;
  background-size: 100%
 }


@font-face {
    font-family: 'BladeRunner';
    src: url(BladeRunnerMovieFont-4nx9.ttf);
}

h1 {
    font-family: 'BladeRunner', sans-serif;
    font-size: 8em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #383991;

}

h2 {
    font-family: 'BladeRunner', sans-serif;
    font-size: 30pt;
    a {
        text-decoration: none;

        

      }
    a {
        position: relative;
      }
      
      a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #eb2125;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out;
        }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
}

h3 {
  
font-family: 'BladeRunner', sans-serif;
    font-size: 30pt;
    a {
        text-decoration: none;
      }
    a {
        position: relative;
      }
      
      a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #eb2125;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out;
        }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
a {
background-image: linear-gradient(
  to right,
  #2e42d9,
  #2e42d9 50%,
  #eb2125 50%
);
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
}

a:before{
content: '';
background: #ffc800;
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

a:hover {
background-position: 0;
}

a:hover::before{
width: 100%;
}
}

h4 { /*Hover effect for links*/

  font-family: 'BladeRunner', sans-serif;
  font-size: 30pt;
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #383991;*/
  a {
      text-decoration: none;
    }
  a {
      position: relative;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #eb2125;
      bottom: 0;
      left: 0;
      transform-origin: left; /*left*/
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: right; /*left*/
    transform: scaleX(1);
  }
a {
background-image: linear-gradient(
to right, /*right*/
#043fffcc,
#540596 50%,
#eb2125 50%
);
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/*transition: all 0.3s ease-in-out;*/
transition: transform .3s ease-in-out;
}

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #09ff00;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    a:hover {
      background-position: 0;
      }
      
      a:hover::before{
      width: 100%;
      }




}